.main {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	background-image: url("https://us.123rf.com/450wm/tumsasedgars/tumsasedgars1904/tumsasedgars190400111/121845190-to-do-list-business-education-and-success-background.jpg?ver=6");
}

.heading {
	font-size: 35px;
	color: blueviolet;
}

.container {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: pink;
	box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
		rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.form_container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

.input {
	flex-grow: 1;
	height: inherit;
	outline: none;
	border: 1px solid #cb7cef;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 16px;
	padding-left: 5px;
	box-shadow: 0px 2px 35px 6px rgba(68, 15, 160, 0.3);
}

.submit_btn {
	font-size: 16px;
	font-weight: bold;
	width: 100px;
	height: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #cb7cef;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.task_container {
	width: 100%;
	height: 40px;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
	border: 1px solid #cb7cef;
	box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
		rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.google-btn {
	width: 184px;
	height: 42px;
	background-color: google-blue;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(222, 14, 14, 0.25);
  }
	.google-icon-wrapper {
	  position: absolute;
	  margin-top: 1px;
	  margin-left: 1px;
	  width: 40px;
	  height: 40px;
	  border-radius: 2px;
	  background-color: white;
	}
	.google-icon {
	  position: absolute;
	  margin-top: 11px;
	  margin-left: 11px;
	  width: 18px;
	  height: 18px;
	}

.check_box {
	cursor: pointer;
	font-size: 16px;
	outline: none;
}

.task_text {
	flex-grow: 1;
	padding: 0 10px;
}

.line_through {
	text-decoration: line-through;
}

.edit_task,
.remove_task {
	outline: none;
	border: none;
	background: transparent;
	color: #870ac1;
	font-size: 16px;
	cursor: pointer;
	padding: 0 5px;
}

.no_tasks {
	width: 100%;
	height: 60px;
	font-size: 18px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	border-radius: 5px;
	background-color: #cecbcb75;
	color: #252525a4;
}